@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="card bg-black text-light shadow-lg border-secondary">
    <div class="card-header border-secondary">
        <h2 class="fw-bold text-info mb-0">Política de Privacidad</h2>
    </div>

    <div class="card-body">

        <p class="text-secondary">
            Esta aplicación es un proyecto educativo desarrollado para practicar ASP.NET Core MVC,
            Entity Framework y SQL Server. No se almacena información personal de los usuarios.
        </p>

    </div>
</div>
